/* Estilos para o segundo conjunto de HTML */

/* Estilizando elementos de nível superior */
main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

/* Estilizando seções */
section1, section2 {
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-small);
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
}

/* Estilizando elementos internos das seções */
.perfil, .metricas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.feed, .explore, .storie1, .taxastorie {
    margin-bottom: 20px;
}

/* Estilizando títulos */
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Estilizando elementos de texto */
.id {
    font-size: 16px;
}

/* Estilizando imagens */
img {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: 100px; /* Ajuste o tamanho conforme necessário */
    margin-bottom: 10px;
}

hr {
    margin-top: 50px;
    height: 20px;
}